@model Online_Clinic_Management_System.Models.PrescriptionViewModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/Prescription.css" />
    <link rel="stylesheet" href="~/css/Login.css" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
</head>
<body>
    <div class="precription">
        <form id="prescriptionForm" asp-action="Add" method="post">

            <img class="pre1-1-icon" alt="" src="~/images/img_pre11.png" />

            <button class="precription-child"></button>
            <button class="submit" id="submitBtn">Submit</button>
            <input asp-for="DoctorName" class="precription-item" type="text" />

            <input asp-for="PatientName" class="precription-inner" type="text" />

            <input asp-for="LabTest" class="rectangle-input" type="text" />

            <input asp-for="Medicines" class="precription-child1" type="text" />

            <input asp-for="Cost" class="precription-child2" type="text" />

        </form>

        <div class="prescription-detail">Prescription Detail</div>
        <div class="doctor-name">Doctor Name...</div>
        <div class="patient-name">Patient Name...</div>
        <div class="lab-test">Lab Test...</div>
        <div class="medicines">Medicines...</div>
        <div class="cost">Cost</div>
        <div class="frame-div"></div>
        <img class="tooth-icon" alt="" src="~/images/img_tooth_51x45.png" />

        <div class="clinic5">Clinic</div>
        <a asp-controller="Receptionist" asp-action="Index" class="receptionist7" id="receptionist">Receptionist</a>
        <a asp-controller="About" asp-action="Index" class="about5" id="about">About</a>
        <a asp-controller="Contact" asp-action="Index" class="contact5" id="contact">Contact</a>
        <a asp-controller="Home" asp-action="Index" class="register7" id="register">Logout</a>
        <script>
            var logout = document.getElementById("logout");
            if (logout) {
                logout.addEventListener("click", function (e) {
                    // Display confirmation dialog box
                    if (confirm("Are you sure you want to logout?")) {
                        window.location.href = "./login.html"; // Redirect to the logout page
                    }
                });
            }
        </script>
        <a asp-controller="Laboratorian" asp-action="Index" class="laboratorian7" id="laboratorian">Laboratorian</a>
        <a asp-controller="Doctor" asp-action="Index" class="doctor7" id="doctor">Doctor</a>


    </div>

    <script>
        document.getElementById("submitBtn").addEventListener("click", function (e) {
            e.preventDefault();
            if (confirm("Are you sure you want to submit?")) {
                document.getElementById("prescriptionForm").submit();
                alert("Submitted successfully!");
                // Add your redirection logic after successful submission if needed
            }
        });
    </script>
</body>
</html>
